.vscode/
.virtual_documents/

# This is ~360 MB so better not have it tracked by git
cifar-10-python.tar.gz
cifar-10-batches-py/
cifar10.pickle
cifar-10-batches-bin/

# inside of frugallydeep dir
models/
predict

# inside of numpy dir
__pycache__
results
.ipynb_checkpoints
sbatch-output.txt

# for the report
report.*
!report.tex